@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Inter', system-ui;
  color: #243e63;
}

body {
    max-width: 100vw;
}

nav {
   display: flex;
   padding-top: 32px;
}

.nav__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

img {
    width: 100%;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.purple {
    color: #6415ff;
}


.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;;
}

.nav__logo--title {
    margin: 0px 24px;
    padding: 0px 0px 4px;
    font-size: 24px;
    font-weight: bold;
    color: #243e63;
}

.nav__link {
    color: #243e63;
    font-size: 14px;
    margin: 0px 24px;
    padding-top: 4px;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    transition: all 300ms;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link:hover::after {
    opacity: 1;
}

.login {
    margin-left: 48px;
}

.nav__link-right {
    margin: 0px 24px 0px 48px;
}

.nav__link-primary {
    background-color: #6415ff;
    padding: 10px 32px;
    border-radius: 9999px;
    color: #fff;
    border-color: #6415ff;
    transition: all 300ms ease;
}

.nav__link-primary:hover {
    background-color: rgba(80, 17, 204,);
    color: white;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #6415ff;
    
}

.btn__menu--svg {
    display: none;
}

.modal {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
    
}

.menu--open .modal {
    display: flex;
}

.modal__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.modal__link {
    padding: 4px 0;
    font-size: 20px;
    margin: 8px;
    font-weight: 600;
}

.modal__link--primary {
    padding: 10px 32px;
    background-color: #6415ff;
    border-radius: 9999px;
    color: #fff;
    border-color: #6415ff;
    font-weight: 600;
}


.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #000;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*

HEADER 

*/


.header__container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__email {
    position: relative;
    height: 68px;
}

.email__input {
    padding-top: 20px;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
    border-radius: 9999px;
    border-width: 2px;
    padding-left: 2rem;
    font-weight: 500;
    opacity: 0.2;
    font-size: large;
}

.btn {
    position: absolute;
    padding: 12px;
    border-radius: 50px;
    margin: 4px;
    background-color: #6415ff;
    color: aliceblue;
    right: 25%;
    height: 55px;
    top: 42%;
    transform: translate(50%, -50%);
    font-size: large;
}
   

.c__logo {
    padding-right: 8px;
    margin: 1px;
    opacity: 0.5;
}

header .row {
    display: flex;
    align-items: center;    
}

.header__description {
    width: 40%;
    flex-direction: column; 
}

.header__img--container {
    width: 60%;
}

.header__img--wrapper img {
    width: 100%;
}

.nav__h1 {
    font-size: 48px;
}

.nav__p {
    margin: 32px;
    margin-left: 0px;
}

.nav__p2 {
    margin-top: 60px;
    margin-bottom: 12px;
    color: #A0AEC0;
    font-size: 12px;
}

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }
  .btn__menu--svg {
    display: block;
  }
}
