@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,500;1,500&display=swap');
* {
  padding: 0;
   margin:0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;  
}

body {
    max-width: 100vw;
}

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

img {
    width: 100%;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.purple {
    color: blueviolet;
}


.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    margin: 0px 12px 0px 0px;
}

.nav__logo--title {
    margin: 0px 24px 0px 0px;
    padding: 0px 0px 4px;
    font-size: 24px;
    font-weight: bold;
    color: #243e63;
}

.nav__link {
    color: #243e63;
    font: 14px inter;
    margin: 0px 24px;
    padding: 0 0 4px;
    text-decoration: none;
    font-weight: 700;
}

.nav__link-right {
    margin: 0px 24px 0px 48px;
}

.nav__link-primary {
    background-color: #6415ff;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link-primary:hover {
    background-color: #8145e9;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*

HEADER 

*/

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.email__bar {
    padding-top: 20px;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding-left: 2rem;
    font-weight: 500;
}

.btn {
    position: absolute;
    padding: 14px;
    border-radius: 50px;
    margin: 4px;
    background-color: #6415ff;
    color: aliceblue;
}
   

.c__logo {
    padding-right: 8px;
    margin: 2px;
}

header .row {
    display: flex;
    align-items: center;    
}

.header__description {
    width: 40%;
    flex-direction: column;
}

.header__img--container {
    width: 60%;
}

.header__img--wrapper img {
    width: 100%;
}

.nav__h1 {
    font-size: 48px;
}

.nav__p {
    margin: 32px;
    margin-left: 0px;
}

.nav__p2 {
    margin-top: 60px;
    margin-bottom: 12px;
}
